@font-face {
  font-family: 'LOTR';
  src: url('./fonts/MorrisRoman-Black.ttf') format('truetype');
}

body {
  background-image: url('./images/sea.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  text-align: center;
  display: none;
}

.text {
  font-family: 'LOTR';
  color: #baaf81;
  font-size: 6rem;
  opacity: 0.6;
  filter: drop-shadow(1px 1px 20px #baaf81) sepia(0.5) contrast(1);
  height: 700px;
  width: 50px;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  filter: brightness(10) drop-shadow(1px 1px 10px white) sepia(0) contrast(1);
  opacity: 1;
}

.text-pop-up-top {
  animation: text-pop-up-top 0.5s ease-in forwards;
}

.text-pop-up-bottom {
  animation: text-pop-up-top 0.5s ease-in forwards reverse;
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-150px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

svg {
  transform-origin: 50% 50%;
  animation-name: slide-in-blurred-top;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  margin-right: 2rem;
}

@keyframes slide-in-blurred-top {
  0% {
    transform: scaleY(0.1) scaleX(0.1);
    filter: blur(250px);
    opacity: 0.5;
  }
  100% {
    pointer-events: all;
    transform: scaleY(1) scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
}
